.languageTab{
  background-color:#f7f7f7;
  height:120px;
  width:400px;
  border-radius:20px;
  box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display:flex;
  align-items:center;
  justify-content:center;
  margin:20px;

  -moz-transition:all 1s;
  -khtml-transition:all 1s;
  -webkit-transition:all 1s;
  -o-transition:all 1s;
  transition:all 1s;

  font-size:3em;
  font-family:"Quicksand";

  cursor:pointer;
}

.languageTab:hover{
  transform:scale(1.05);
}

#container{
  position:absolute;
  left:25%;
  width:50%;
  top:10%;
  margin:20px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;

  -moz-transition:all 1s;
  -khtml-transition:all 1s;
  -webkit-transition:all 1s;
  -o-transition:all 1s;
  transition:all 1s;

  z-index:1;
}

#main{
  opacity:0;
  -moz-transition:all 2s;
  -khtml-transition:all 2s;
  -webkit-transition:all 2s;
  -o-transition:all 2s;
  transition:all 2s;
  width:40%;
  margin:50px;
  margin-left:30%;
  font-family:"Source Code Pro";
  z-index:0;
}

#text{
  width:100%;
  margin-bottom:20px;
  background-color:black;
  border:2px solid #a5a5a5;
  border-radius:10px;
  padding:10px;
  color:#35ff23;
}

#input{
  font-family:inherit;
  width:100%;
  padding:20px 10px 20px 10px;
}

#result{
  font-family:"Quicksand";
  font-size:30px;
  font-weight:bolder;
  width:100%;
  text-align:center;
}

body{
  background-color:#eaeaea;
}